<canvas id = "canvas" width = "800" height = "600"></canvas>

<script src = 'weaponData.js'></script>
<script src = 'SpriteManager.js'></script>
<script src = 'index.js'></script>
<script src = 'Point.js'></script>
<script src = 'LineSegment.js'></script>
<script src = 'RectangleEntity.js'></script>
<script src = 'Obstacle.js'></script>
<script src = 'HitField.js'></script>
<script src = 'Interactable.js'></script>
<script src = 'Pickup.js'></script>
<script src = 'TileCutter.js'></script>
<script src = 'AstarNode.js'></script>
<script src = 'AstarGrid.js'></script>
<script src = 'Enemy.js'></script>
<script src = 'MiniMap.js'></script>
<script src = 'Bullet.js'></script>
<script src = 'Player.js'></script>
<script src = 'Weapon.js'></script>
<script src = 'HitText.js'></script>
